@charset "utf-8";

html{
    background-color: rgb(255, 230, 0);
}
div.col-1-10 div.row{
    border: 5px black solid;
    align-content: center;
    padding: 10px;
}
div.col-9-10>div.row>h1{
    color: darkblue;
    text-align: center;
    font-size: 110pt;
    padding: 10px;
    text-shadow: rgb(51,51,51) 10px 10px 20px
}
div.col-9-10>div.row>div.col-1-2>p{
    text-align: center;
    font-size: 18pt;
    padding: 20px;
    background-color: rgb(2, 10, 121);
    color: white;
    transform: translate(10px, 100px);
    border: 5px black solid;
    box-shadow: rgb(51,51,51) 10px 10px 20px;
}
div[class^="col-"]{
    float: left;
}
img#number1{
    transform: translate(325px,-150px);
}
img#number2{
    transform: translate(-125px,-33px);
    background-color: white;
}
img#number3{
    transform: translate(100px,-37px);
}
div.col-1-10{width:10%}
div.col-9-10{width:90%}
div.col-1-5{width:20%}
div.col-1-2{width:50%}