@charset "utf-8";

html{
    background-color: rgb(3, 0, 77);
}
div.col-1-10{
    background-color: white;
}
div.col-1-10 nav:hover{
    background-color: rgb(252, 206, 5);
}
div.col-1-10 div.row{
    border: 5px rgb(3, 54, 192) solid;
    align-content: center;
    padding: 10px;
    box-shadow: rgb(3, 54, 192) 10px 10px 20px;
}
div.col-9-10>div.row>h1{
    text-align: center;
    font-size: 110pt;
    padding: 10px;
    color: rgb(252, 206, 5);
    text-shadow: rgb(252, 206, 5) 10px 10px 20px;
}
div[class^="col-"]{
    float: left;
}
div.col-9-10>div.row>img#second{
    transform: translate(100px,-50px);
}
div.col-1-10{width:10%}
div.col-9-10{width:90%}
div.col-1-5{width:20%}