@charset "utf-8";

html{
    background: rgb(3, 0, 77);
}
div.col-1-10 div.row{
    border: 5px rgb(3, 54, 192) solid;
    align-content: center;
    padding: 10px;
    box-shadow: rgb(3, 54, 192) 10px 10px 20px;
}
div.col-9-10>div.row>h1{
    color: rgb(252, 206, 5);
    text-align: center;
    font-size: 110pt;
    text-shadow: rgb(252, 206, 5) 10px 10px 20px;
}
div.col-9-10>div.row>div.col-1-3{
    width: 20%;
    padding: 5px;
}
img#Pokemon{
    border: rgb(252, 206, 5) 5px solid;
    transform: translateX(10px);
    box-shadow: rgb(252, 206, 5) 10px 10px 20px;
}
img#Mario{
    border: rgb(252, 206, 5) 5px solid;
    transform: translateX(150px);
    box-shadow: rgb(252, 206, 5) 10px 10px 20px;
}
div[class^="col-"]{
    float: left;
}
div.col-1-10{width:10%}
div.col-9-10{width:90%}
div.col-1-5{width:20%}
div.col-1-2{width:50%}
div.col-1-3{width:33%}