@charset "utf-8";

html{
    background: rgb(3, 0, 77);
}
div.col-1-10{
    background-color: white;
}
div.col-1-10 nav:hover{
    background-color: rgb(252, 206, 5);
}
div.col-1-10 div.row{
    border: 5px rgb(3, 54, 192) solid;
    align-content: center;
    padding: 10px;
    box-shadow: rgb(3, 54, 192) 10px 10px 20px;
}
div.col-9-10>div.row>h1{
    color: rgb(252, 206, 5);
    text-align: center;
    font-size: 110pt;
    padding: 10px;
    text-shadow: rgb(252, 206, 5) 10px 10px 20px;
}
div.col-9-10>div.row>div.col-1-2>ul#skills li{
    border-radius: 25px;
    text-align: center;
    font-size: 18pt;
    padding: 10px;
    background-color: rgb(3, 54, 192);
    color: white;
    transform: translate(75px, 100px);
    text-decoration: none;
    list-style: none;
    border: 5px rgb(252, 206, 5) solid;
    box-shadow: rgb(252, 206, 5) 10px 10px 20px;
}
div[class^="col-"]{
    float: left;
}
img#number2{
    transform: translateY(10px);
}
div.col-1-10{width:10%}
div.col-9-10{width:90%}
div.col-1-5{width:20%}
div.col-1-2{width:50%}